@model EVO_WebAPP.Models.ContactList

<form id="ImportProcess" autocomplete="off">    
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card main-chart-card box-emposed bg-1">
                <div class="card-body">
                    <div class="card-title">
                        <br />
                        <div class="row">
                            <div class="form-outline">
                                <label class="form-label" for="form1">First Name: </label>
                                <input type="text" id="firstName" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-outline">
                                <label class="form-label" for="form1">Last Name: </label>
                                <input type="text" id="lastName" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-outline">
                                <label class="form-label" for="form1">Email: </label>
                                <input type="text" id="email" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-outline">
                                <label class="form-label" for="form1">Phone Number: </label>
                                <input type="text" id="phoneNumber" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="sub-tab-actions">
                                Status &nbsp;&nbsp;&nbsp;&nbsp;
                                <select id="status" data-style="btn btn-primary">
                                    <option selected>Active</option>
                                    <option>InActive</option>
                                </select>
                            </div>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="sub-tab-actions">
                                    <input type="button" id="btnAdd" class="btn btn-primary " value="Add Contact">
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="sub-tab-actions">
                                    <input type="button" id="btnShow" class="btn btn-primary " value="Show Updated List">
                                </div>
                            </div>
                            <br /><br />
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form1">Id To Delete: </label>
                                    <input type="text" id="deleteId" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="sub-tab-actions">
                                    <input type="button" id="btnDel" class="btn btn-primary " value="Delete Contact">
                                </div>
                            </div>
                            <br /><br />
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="tab-content pos-rlt">
            <div class="tab-pane active" id="tab-1">
                <div class="pl-3 b-b _600">
                    <div class="title-container">
                        <div class="sub-title-new">
                            Contacts: 
                            <br />
                        </div>                        
                    </div>
                </div>
                <div class="pl-3">
                    <div class="col-lg-12 mt-2">
                        <div class="table-responsive-sm">
                            <table id="SubListItemTable" class="dt-custom table table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Email</th>
                                        <th>PhoneNumber</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contact in Model.contactList)
                                    {                                        
                                    <tr>
                                        <td>
                                            <span>@contact.Id</span>
                                        </td>
                                        <td>
                                            <span>@contact.FirstName</span>
                                        </td>
                                        <td>
                                            <span>@contact.LastName</span>
                                        </td>
                                        <td>
                                            <span>@contact.Email</span>
                                        </td>
                                        <td>
                                            <span>@contact.PhoneNumber</span>
                                        </td>
                                        <td>
                                            <span>@contact.Status</span>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    </form>
   
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/libs/datatable/jquery.dataTables.min.js"></script>

    <link href="~/Content/libs/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/libs/toastr/toastr.min.js"></script>

    <script>

        $(document).ready(function () {
        });

        $('#btnAdd').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var firstName = $('#firstName').val();
                var lastName = $('#lastName').val();
                var email = $('#email').val();
                var phoneNumber = $('#phoneNumber').val();
                var status = $("#status option:selected").text();

                var contactData = { "FirstName": firstName, "LastName": lastName, "Email": email, "PhoneNumber": phoneNumber, "Status": status }


                $.ajax({
                    type: "Post",
                    url: "/Contact/AddContact",
                    data: {
                        contact: contactData,
                    },
                    datatype: 'html',
                    success: function (data) {
                        toastr.success("Successfully Added...");
                    }
                });               
            } else {
                toastr.warning("File format is not supported.");
            }
        });

        $('#btnShow').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {               
                /*var table = $("#SubListItemTable").DataTable();
                var length = table.page.len();*/

                $.ajax({
                    type: "Get",
                    //url: "/ContactDetails/Contact/GetContacts",
                    url: "/Contact/GetContacts",
                    data: {
                    },
                    datatype: 'html',
                    success: function (data) {
                        $("#ImportProcess").html(data);
                        //datatable(length);
                        toastr.success("Successfully Retrived...");
                    }
                });                
            } else {
                toastr.warning("File format is not supported.");
            }
        });

        $('#btnDel').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                /*var table = $("#SubListItemTable").DataTable();
                var length = table.page.len();*/

                var deleteId = $('#deleteId').val();

                $.ajax({
                    type: "DELETE",
                    //url: "/ContactDetails/Contact/GetContacts",
                    url: "/Contact/DeleteContact",
                    data: {
                        id: deleteId
                    },
                    //datatype: 'html',
                    success: function (data) {
                        //$("#ImportProcess").html(data);
                        //datatable(length);
                        toastr.success("Successfully Deleted...");
                    }
                });
            } else {
                toastr.warning("File format is not supported.");
            }
        });
        
        /*function datatable(length) {
            return $('#SubListItemTable').DataTable({
                retrieve: true,
                dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                buttons: [
                    'colvis'
                ],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }],
                "pageLength": length,
            })
        }*/

    </script>   